#!/usr/bin/env bash
# This file manually declares S3 cred environment vars that are needed
# For the AWS s3 commands to work. In github actions, they are passed via github secrets.

export AWS_ACCESS_KEY_ID="redaced"
export AWS_SECRET_ACCESS_KEY="redacted"

export POSTGRES_USER=postgres
export POSTGRES_DB=postgres

export POSTGRES_PASSWORD=postgres
export POSTGRES_PW=postgres
