cx-Oracle==7.3.0
docker==4.2.0
-e git+https://github.com/CityOfPhiladelphia/geopetl.git@4bda24e3ac4d6ec81f09248c51625acdbce417da#egg=geopetl-add_tests \
psycopg2-binary==2.8.4
numpy==1.18.1
petl==1.1.1
py==1.8.1
pyasn1==0.4.8
pycparser==2.19
pyparsing==2.4.6
pytest==5.3.5
python-dateutil==2.8.1
