atomicwrites==1.3.0
attrs==19.3.0
aws-sam-translator==1.20.1
aws-xray-sdk==2.4.3
boto==2.49.0
boto3==1.12.4
botocore==1.15.4
certifi==2019.11.28
cffi==1.14.0
cfn-lint==0.28.2
chardet==3.0.4
Click==7.0
colorama==0.4.3
cryptography==2.8
cx-Oracle==7.3.0
docker==4.2.0
docutils==0.15.2
ecdsa==0.15
future==0.18.2
-e git+https://github.com/CityOfPhiladelphia/geopetl.git@ccb1d2032a9bcceb12267890aed2a21c875055f0#egg=geopetl
idna==2.8
Jinja2==2.11.1
jmespath==0.9.4
jsondiff==1.1.2
jsonpatch==1.25
jsonpickle==1.3
jsonpointer==2.0
jsonschema==3.2.0
MarkupSafe==1.1.1
mock==4.0.1
more-itertools==8.2.0
moto==1.3.14
numpy==1.18.1
packaging==20.1
petl==1.1.1
pluggy==0.13.1
psycopg2==2.8.4
py==1.8.1
pyasn1==0.4.8
pycparser==2.19
pyparsing==2.4.6

pyrsistent==0.15.7
pytest==5.3.5
python-dateutil==2.8.1
python-jose==3.1.0
pytz==2019.3
PyYAML==5.3
requests==2.22.0
responses==0.10.9
rsa==4.0
s3transfer==0.3.3
six==1.14.0
SQLAlchemy==1.1.14
sshpubkeys==3.1.0
urllib3==1.25.8
wcwidth==0.1.8
websocket-client==0.57.0
Werkzeug==1.0.0
wrapt==1.12.0
xmltodict==0.12.0
